html {
  height: 3000px;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
#head {
  background: #fc997c;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 5;
}
#head a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  transition-duration: 0.6s;
}
#head > a {
  margin-left: 200px;
}
#head-nav ul {
  list-style-type: none;
}
#head-nav ul li {
  display: inline-block;
  margin-right: 40px;
}
#head-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 500px);
}
#head-nav a:hover {
  color: #2e4c6d;
  transition-duration: 0.6s;
}
#head-nav a::before {
  content: "\2022";
}
.login {
  background-color: #2e4c6d;
  padding: 5px 15px;
  border: 2px solid #2e4c6d;
  border-radius: 5px;
}
.login:hover {
  background-color: #fff;
}
.login::before {
  content: none !important;
}
