html {
  height: 3000px;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* head start */
#head {
  background: #fc997c;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
#head a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  transition-duration: 0.6s;
}
#head > a {
  margin-left: 200px;
}
#head-nav ul {
  list-style-type: none;
}
#head-nav ul li {
  display: inline-block;
  margin-right: 40px;
}
#head-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 500px);
}
#head-nav a:hover {
  color: #2e4c6d;
  transition-duration: 0.6s;
}
#head-nav a::before {
  content: "\2022";
}
.login {
  background-color: #2e4c6d;
  padding: 5px 15px;
  border: 2px solid #2e4c6d;
  border-radius: 5px;
}
.login:hover {
  background-color: #fff;
}
.login::before {
  content: none !important;
}
/* head finish */

/* movieapp start */
#movieapp {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 102, 102, 0.2),
      rgba(255, 77, 77, 0.2)
    ),
    url(images/movies.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  position: relative;
  margin-bottom: 60px;
}
.movieapp-content {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 89, 179, 0.2),
    rgba(0, 89, 179, 0.2)
  );
  padding: 30px;
  border-radius: 5px;
}
/* movieapp finish */

/* How it Works start */
#hiw {
  margin-bottom: 60px;
}
.hiw-head__items {
  text-align: center;
  margin-bottom: 40px;
}
.hiw-content__items {
  margin-left: 80px;
}
.hiw-content__item {
  float: left;
  width: 28%;
  margin-right: 50px;
  text-align: center;
}
.hiw-content__item i {
  color: #fc997c;
}
.hiw-content__item h2 {
  color: #3d4650;
}
/* How it Works finish */

/* Features start */
#features {
  margin-bottom: 60px;
}
.features-img {
  height: 45vh;
  width: 48%;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 102, 102, 0.2),
      rgba(255, 77, 77, 0.2)
    ),
    url(images/features.jpeg);
  background-position: center top;
  background-size: cover;
  float: left;
}
.features-content {
  float: left;
  width: 52%;
  height: 45vh;
  background-color: rgb(214, 211, 211);
  padding: 30px;
}
.features-content h1 {
  font-size: 31px;
  padding-bottom: 10px;
}
.features-content p {
  padding-bottom: 20px;
}
.features-content a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
  background-color: #2e4c6d;
  padding: 8px 12px;
  border: 2px solid #2e4c6d;
  transition-duration: 0.6s;
}
.features-content a:hover {
  background-color: #fff;
  color: #2e4c6d;
  transition-duration: 0.6s;
}
/* Features finish */

/* Plans start */
#plans {
  margin-bottom: 60px;
}
.plans-head__items {
  text-align: center;
  margin-bottom: 50px;
}
.plans-head__items h1 {
  font-size: 32px;
}
.plans-main__item {
  float: left;
  width: 28%;
  background-color: #c5c8c9;
  margin-right: 30px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  transition-duration: 0.6s;
}
.plans-main__item:hover {
  box-shadow: rgb(0 0 0 / 50%) 5px 50px 50px;
  transition-duration: 0.6s;
}
.plans-main__item ul {
  list-style-type: none;
}
.plans-main__item ul li {
  margin-bottom: 5px;
}
.recommended {
  background-color: #396eb0 !important;
}
.plan-badge {
  display: inline-block;
  background-color: #fff;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  color: #f57d59;
}
.plans-main__item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #fc997c;
  border: 2px solid #fc997c;
  border-radius: 5px;
  font-size: 19px;
  font-weight: bolder;
  padding: 5px 12px;
  margin-top: 10px;
  transition-duration: 0.6s;
}
.plans-main__item a:hover {
  background-color: #fff;
  color: #fc997c;
  transition-duration: 0.6s;
}
.plans-main__items {
  margin-left: 140px;
}
.recommended {
  position: relative;
  bottom: 30px;
  color: #fff;
  font-size: 20px;
}
/* Plans finish */

/* stats start */

#stats {
  background-image: linear-gradient(
    to bottom,
    rgb(251, 120, 80),
    rgb(250, 81, 30)
  );
  padding: 15px;
}
.stat {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}
.stat h1 {
  font-size: 32px;
}
.stat h2 {
  font-size: 30px;
}
/* stats finish */
